body{
    font-family: 'Rubik Mono One', sans-serif;
}

/* #features, #content, #design, #cart{
    text-align: center;
    padding: 50px;
} */

#features{
    background-color: #198754;
    color: #fff !important;
}

#design{
    margin:5px auto;
    padding: 30px;
    text-align: center;
}

.features-row{
    padding: 50px ;
}

#footer{
    width: 100%;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    color:#fff;
}

.icon-features{
    font-size: 50px;
    padding: 10px;
}

.design_card{
    margin: 20px 15px;
}

#cart{
    text-align: center;
    padding: 40px auto;
}

.cart-title{
    font-size: 50px;
    padding-top: 30px;
}

.empty-cart{
    padding: 150px 10px;
    margin-bottom: 40px;
}

.payment{
    padding: 10px;
}

.pay-btn{
    padding: 20px;
}
.pay-btn-a{
    width: 80%;
    padding: 10px;
}

.done{
    padding: 10px;
    text-align: center;
}

