{% extends "based.html" %}
{% block content %}
    <section id="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/img/chicken crispy burgers carousel.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/img/burger carousel 2 update.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/img/new menu.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <section id="design">
        <h1>Order burgers</h1>
        <div class="row">
            {% for i in data %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card design_card" style="width: 18rem;">
                    <img src="{{i.path}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                        <p class="card-text">${{i.cost}}</p>
                        <a href="{{url_for('cart', name=i.title, path=i.path, cost=i.cost)}}" class="btn btn-dark">order</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}